
<div class="wrapper">
        
        <div class="team">
          <div class="team_member border border-primary">
            <img src="../assets/img/user_pic.jpg" alt="team_member_image">
            <h3>Paul Doe</h3>
            <p>Cashier</p>
            <div class="btn_grp">
                <a routerLink="/home" >Log In</a>
            </div>
          </div>
          <div class="team_member border border-primary">
            <img src="../assets/img/user_pic_1.jpg" alt="team_member_image">
            <h3>Rosie Meg</h3>
            <p>Cashier</p>
            <div class="btn_grp">
                <a routerLink="/home">Log In</a>
            </div>
          </div>
          <div class="team_member border border-primary">
            <img src="../assets/img/user_pic.jpg" alt="team_member_image">
            <h3>Alex Wood</h3>
            <p>Cashier</p>
            <div class="btn_grp">
              <a routerLink="/home" >Log In</a>
            </div>
          </div>
        </div>
      </div>