<div class="wrapper">
  <div class="row team">
          <a class="col-lg-6 " routerLink="/addCategory" routerLinkActive="active">
            <div class="col-lg-12 team_member border border-primary ">
              <h3>Add Category</h3>
              <p></p>
            </div>
          </a>
           <a class="col-lg-6 " routerLink="/addProduct" routerLinkActive="active">
            <div class="col-lg-12 team_member border border-primary ">
              <h3>Add Product</h3>
              <p></p>
            </div>
        </a>
        <a class="col-lg-6 " routerLink="/listCategories" routerLinkActive="active">
            <div class="col-lg-12 team_member border border-primary ">
              <h3>Display categories</h3>
              <p></p>
            </div>
        </a>
        <a class="col-lg-6 " routerLink="/listProducts" routerLinkActive="active">
            <div class="col-lg-12 team_member border border-primary ">
              <h3>Display products</h3>
              <p></p>
            </div>
        </a> 
  </div>
    
</div>